<!-- <header class="showcase">
  <div class="content">
    <img
      src="../../../assets/img/logo.png"
      class="logo"
      alt="Plateform PVs"
    />
    <div class="title">Welcome To <span class="mv">Plateform de Gestion Inventaire</span></div>
    <div class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vel.
    </div>
    <button
      mat-flat-button
      color="accent"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/admin/peoples"
    >
      Explore
    </button>
  </div>
</header>
<footer class="center bg-dark">
  <p class="footer-links">
    <a target="_blank" href="https://github.com/mohamedyessine"
      >PrestaCode <i class="fab fa-github"></i
    ></a>
    - 😎 2023
  </p>
</footer> -->
