<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Ajout Depot</h4>
                    </div>
                    <div class="card-body">
                      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Nom Depot" name="name" [(ngModel)]="formData.name" required>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Numero Depot" type="text" name="numero" [(ngModel)]="formData.numero" #numeroDepot="ngModel" required>
                              <mat-error *ngIf="numeroDepot.invalid">Le numero depot doit contenir que des chiffres.</mat-error>
                            </mat-form-field>
                          </div>
                         
                        </div>
                        <!-- <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Address" type="text" name="adresse" [(ngModel)]="formData.adresse">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="City" type="text" name="city" [(ngModel)]="formData.city">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Postal Code" type="text" name="postal" [(ngModel)]="formData.postal">
                            </mat-form-field>
                          </div> 
                        </div>-->
                        <div class="row">
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="myForm.invalid">Ajout Depot</button>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  