<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Liste des articles</h4>
          </div>
          <div class="card-body">
            <div class="row align-items-center mb-3">
              <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="searchText"(ngModelChange)="onSearchChange()">
                </div>
              </div>
              
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Type</mat-label>
                    <mat-select placeholder="Select Type" [(ngModel)]="selectedType" (ngModelChange)="onTypeChange()">
                      <mat-option value="All">All</mat-option>
                      <mat-option value="Materiel">Materiel</mat-option>
                      <mat-option value="Consommable">Consommable</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              
            </div>
           
            
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive" *ngIf="articlesToShow.length > 0">
                  <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="exportInventaireToExcel()">Export Inventaire</button>
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>Article</th>
                        <th>code à barre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of articlesToShow ">
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                        <td>
                          <button class="btn btn-danger btn-sm" (click)="generateBarcode(item.code, item.name)">Générer un code-barres</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row text-center" *ngIf="articlesToShow.length === 0">
                  <div class="col-md-12">
                    <p>Vide</p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center " *ngIf="!(tableData.length <8 )">
              <div class="col-md-12">
                <button mat-button (click)="prevPage()" [disabled]="page === 1">Précédent</button>
                <button mat-button (click)="nextPage()" [disabled]="page === pageCount">Suivant</button>
                <div class="pagination-info">
                  Page {{page}} sur {{pageCount}} pages
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




