<div class="logo">
  <a href="#" class="simple-text ">
    <div class="logo-img ml-2">
      <img src="/assets/img/9ba4a.jpg" />
    </div>
    <div class="ml-5">
      Gestion des depots
    </div>

  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li *ngIf="!isAuthenticated" class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">
        <i class="material-icons">unarchive</i>
        <p>Connexion</p>
      </a>
    </li>
    <ng-container *ngIf="isAuthenticated">
      <li  routerLinkActive="active" *ngFor="let menuItem of menuItems"  class="{{menuItem.class}} nav-item">
        <a class="nav-link" [routerLink]="[menuItem.path]" (click)="menuItem.title === 'Deconnexion' ? logout() : null">
          <i class="material-icons">{{ menuItem.icon }}</i>
          <p>{{ menuItem.title }}</p>
        </a>
      </li>
      <p class="m-3">version 1.0.0</p>

    </ng-container>
  </ul>
</div>
