<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Stock</h4>
          </div>
          <div class="card-body">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Choisir Depot</mat-label>
                    <mat-select [(ngModel)]="selectedDepotValue" name="depot" required (selectionChange)="getBureauxByDepot()">
                      <mat-option *ngFor="let depot of depots" [value]="depot.value">
                        {{depot.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Choisir Bureau</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="bureau" required (selectionChange)="onChangeBureau()">
                      <mat-option value="all">All</mat-option>
                      <mat-option *ngFor="let bureau of bureaux" [value]="bureau.value">
                        {{bureau.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-12">
                  <div class="container-fluid">
                    <mat-form-field appearance="fill">
                      <mat-label>Choisir Depot</mat-label>
                      <mat-select [(ngModel)]="selectedValue" name="depot" required (selectionChange)="getStock()">
                        <mat-option *ngFor="let depot of depots" [value]="depot.value">
                          {{depot.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div> -->
              </div>
            </form>
            <div class="table-responsive" *ngIf="tableData.length > 0 || tableFullData.length > 0" >
              <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="!selectedValue"
                (click)="exportToExcel()">Exporter</button>
              <table class="table">
                <thead class="text-primary">
                  <th *ngIf="tableData.length > 0">Bureau</th>
                  <th>Article</th>
                  <th>Quantité</th>
                  <th >Defectieux</th>
                  <th *ngIf="tableData.length > 0"></th>
                  <th *ngIf="tableData.length > 0"></th>

                </thead>
                <tbody>
                  <ng-container *ngIf="tableData.length > 0">
                    <tr *ngFor="let item of tableData">
                      <td>{{ item.bureau.name }}</td>
                      <td>{{ item.article.name }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.quantityDefect }}</td>
                      <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                          (click)="setSelectedItem(item); setAction('defect')">Defectieux</button>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                          (click)="setSelectedItem(item); setAction('reparer')">Reparer</button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="tableFullData.length > 0">
                    <tr *ngFor="let item of tableFullData">
                      <!-- <td>{{ item.bureau.name }}</td> -->
                      <td>{{ item.article.name }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.quantityDefect }}</td>

                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <!-- <table class="table">
                <thead class="text-primary">

                  <th>Article</th>
                  <th>Quantité</th>
                </thead>
                <tbody>
                  <ng-container *ngIf="tableData.length > 0">
                    <tr *ngFor="let item of articlesToShow ">

                      <td>{{ item.article.name}}</td>
                      <td>{{ item.quantity}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table> -->
            </div>
            <div class="alert alert-danger" *ngIf="tableData.length === 0 && tableFullData.length === 0">
              <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>
                <b>Bureau is already empty or you didn't select a depot.</b>
              </span>
            </div>
            <!-- <div class="row text-center" *ngIf="!(tableData.length <8 && tableFullData.length <8)">
              <div class="col-md-12">
                <button mat-button (click)="prevPage()" [disabled]="page === 1">Previous</button>
                <button mat-button (click)="nextPage()" [disabled]="page === pageCount">Next</button>
                <div class="pagination-info">
                  Page {{page}} of {{pageCount}} pages
                </div>
              </div>
            </div> -->
          </div>

        </div>
 
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" #myModalRef tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{ action === 'defect' ? 'Add to Defectieux' : 'Reparer Article' }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Quantité" id="quantity" name="quantity" [(ngModel)]="newQuantity" #quantity="ngModel" required pattern="^\d+$">
            <mat-error *ngIf="quantity.invalid || (newQuantity <= 0)">
              La quantité doit être un nombre entier positif.
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
          (click)="action === 'defect' ? createDefectueux(selectedItem.article.id, selectedItem.bureau.id, newQuantity) : reparerArticle(selectedItem.article.id, selectedItem.bureau.id, newQuantity)"   [disabled]="quantity.invalid ||  newQuantity === null || newQuantity === 0">
          {{ action === 'defect' ? 'Ajouter' : 'Reparer' }}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>



