<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Achat</h4>
          </div>
          <div class="card-body">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
              <div class="row">
                <!-- <div class="col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Choisir Depot</mat-label>
                    <mat-select [(ngModel)]="selectedDepotValue" name="depot" required
                      (selectionChange)="getBureauxByDepot()">
                      <mat-option *ngFor="let depot of depots" [value]="depot.value">
                        {{depot.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Bureau</mat-label>
                    <mat-select placeholder="Select Bureau" name="bureau" [(ngModel)]="formData.bureauId">
                      <mat-option *ngFor="let bureau of bureaux" [value]="bureau.value">
                        {{ bureau.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="myForm.submitted && myForm.controls['bureau'].invalid">
                      Please select a bureau.
                    </mat-error>
                  </mat-form-field>
                </div> -->

                <div class="col-md-4">
                  <div class="input-group">
                    <div class="custom-dropdown input-group">
                      <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="selectedValue" (ngModelChange)="filterItem($event)">
                      <select class="custom-select" [(ngModel)]="selectedValue" (ngModelChange)="onArticleSelection()" [hidden]="filteredArticles.length === 0">
                        <option *ngFor="let article of filteredArticles" [value]="article.name">
                          {{ article.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                
                
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Code Article" id="code" name="code" [(ngModel)]="formData.code" required (input)="onCodeInput()">
                    <mat-error *ngIf="myForm.submitted && myForm.controls['code'].invalid">
                      The code à barre must be 12 digits long and only contain numbers.
                    </mat-error>
                  </mat-form-field>
                </div>
                

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Quantité" id="quantity" name="quantity" [(ngModel)]="formData.quantity"
                      pattern="[0-9]+" required>
                    <mat-error *ngIf="myForm.submitted && myForm.controls['quantity'].invalid">
                      The quantité must contain only numbers.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="myForm.invalid">
                Ajouter au depot general
              </button>

              <div class="clearfix"></div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>