<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Signup</h4>
          </div>
          <div class="card-body text-center">
            <div class="container">
              <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" id="username" [(ngModel)]="username" name="username" #name="ngModel" required pattern="^[a-zA-Z0-9][a-zA-Z0-9\s]*[a-zA-Z0-9]$">
                    <mat-error *ngIf="name.invalid">Le nom ne peut pas commencer ou se terminer par un espace ou deja exist.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" id="email" [(ngModel)]="email" name="email" #userMail="ngModel" required pattern="^[^\s].*[^\s]$">
                    <mat-error *ngIf="userMail.invalid">Le mail ne peut pas commencer ou se terminer par un espace ou non valid.</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="mot de passe" type="password" id="password" name="password" [(ngModel)]="password" required minlength="8">
                    <mat-error *ngIf="myForm.controls['password']?.invalid">The password must contain at least 8 characters.</mat-error>
                  </mat-form-field>
                </div>
                <button type="submit" class="btn btn-danger" [disabled]="myForm.invalid">Signup</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>