<div class="main-content">
  <div class="container-fluid">
      <div class="row"> 
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajouter un nouveau Article</h4>
                  </div>
                  <div class="card-body">
                    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                      <div class="row">
                        <!-- contient characere without any space at the beginner or end pattern="^[^\s].*[^\s]$" -->
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nom Article" name="name" [(ngModel)]="formData.name" #name="ngModel" required pattern="^[^\s].*[^\s]$">
                            <mat-error *ngIf="name.invalid">Le nom est invalide</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Code Article" name="code" [(ngModel)]="formData.code" #codeABare="ngModel" required pattern="^[^\s].*[^\s]$">
                            <mat-error *ngIf="codeABare.invalid">Le code est invalide</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <mat-label>Type</mat-label>
                            <mat-select placeholder="Select Type" name="type" [(ngModel)]="formData.type" required>
                              <mat-option value="Materiel">Materiel</mat-option>
                              <mat-option value="Consommable">Consommable</mat-option>
                            </mat-select>
                            <mat-error *ngIf="myForm.submitted && myForm.controls['type'].invalid">
                              Veuillez sélectionner un type.
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Libelle" name="lebelle" [(ngModel)]="formData.lebelle" pattern="^[^\s].*[^\s]$"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="myForm.invalid">Ajouter Article</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>
